$color-white: #fff;
$color-black: #232323;
$color-main: #f5684d;
$color-light-black: #989898;
$color-light-blue: #66c9e0;

$fw-light: 200;
$fw-semilight: 300;
$fw-regular: 400;
$fw-semibold: 500;
$fw-bold: 600;

$fs-large: 2.25rem; // 25px
$fs-medium: 1.75rem; // 25px
$fs-regular: 1.25rem; // 20px

$ff-bold: 'Hacen Tunisia Bd';
$ff-light: 'Hacen Tunisia Lt';

$media-md: 768px;
$media-lg: 992px;
$media-xl: 1200px;

$spacer-1: 1rem;
$spacer-2: 2rem;
$spacer-3: 3rem;
